<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="BancoLecheMaterna" connectionString="Data Source=(local); User Id =BancoLecheMaterna; Password =BancoLecheMaterna;Initial Catalog=BancoLecheMaterna" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>